body {
    background-color: #262626;
    text-align: center;
}

h1 {
    color: white;
}

input {
    background-color: #262626;
    border: 1px solid lightgray;
    color: white;
    width: 60px;
    text-align: center;
}

table {
    border-spacing: 10px;
    margin: auto;
}

td {
    background-color: gray;
    color: white;
    width: 20px;
    height: 20px;
}

.guess-letter {
    background-color: #262626;
    border: 3px solid lightgray;
    width: 60px;
    height: 60px;
    font-size: 32pt;
}