body {
    background-color: #262626;
}

h1 {
    color: white;
}

input {
    background-color: #262626;
    color: white;
}

table {
    border-spacing: 30px;
}

td {
    color: white;
    border: 2px solid lightgray;
    width: 60px;
    height: 60px;
    text-align: center;
    font-size: 32pt;
}