body {
    background-color: #262626;
    text-align: center;
}

h1 {
    color: white;
}

input {
    background-color: #262626;
    border: 1px solid lightgray;
    color: white;
    width: 60px;
    text-align: center;
}

table {
    border-spacing: 10px;
    margin: auto;
}

td {
    color: white;
    background-color: #262626;
    border: 3px solid lightgray;
    width: 60px;
    height: 60px;
    font-size: 32pt;
}

button {
    background-color: gray;
    color: white;
    border: none;
    margin: 8px 3px;
    width: 30px;
    height: 40px;
    font-size: 18px;
}